<!-- <div style="padding: 30px">
  <div nz-row [nzGutter]="[8, 16]">
    <ng-container *ngFor="let item of arr(3)">
      <div nz-col [nzSpan]="6">
        <nz-card nzHoverable style="width: 240px" [nzCover]="coverTemplate">
          <nz-card-meta
            nzTitle="android"
            nzDescription="www.android.com"
          ></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <span
            nz-icon
            nzType="android"
            nzTheme="outline"
            style="font-size: 32px; padding: 32px"
          ></span>
        </ng-template>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-card nzHoverable style="width: 240px" [nzCover]="apple">
          <nz-card-meta
            nzTitle="Europe Street beat"
            nzDescription="www.instagram.com"
          ></nz-card-meta>
        </nz-card>
        <ng-template #apple>
          <span
            nz-icon
            nzType="apple"
            nzTheme="outline"
            style="font-size: 32px; padding: 32px"
          ></span>
        </ng-template>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-card nzHoverable style="width: 240px" [nzCover]="windows">
          <nz-card-meta
            nzTitle="windows"
            nzDescription="www.windows.com"
          ></nz-card-meta>
        </nz-card>
        <ng-template #windows>
          <span
            nz-icon
            nzType="windows"
            nzTheme="outline"
            style="font-size: 32px; padding: 32px"
          ></span>
        </ng-template>
      </div>
    </ng-container>
  </div>
</div> -->
<app-image></app-image>
