<nz-layout>
  <nz-sider
    nzCollapsible
    nzWidth="200px"
    nzBreakpoint="lg"
    [nzCollapsedWidth]="0"
  >
    <h3 class="title">管理系统</h3>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <ng-container *ngFor="let m of menus">
        <li nz-menu-item (click)="goto(m)">
          <span nz-icon [nzType]="m.icon"></span>
          <span>{{ m.label }}</span>
        </li>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="user">
        <nz-avatar [nzSize]="32" nzIcon="user"></nz-avatar>
        <span
          style="margin-left: 4px; cursor: pointer"
          nz-icon
          nzType="logout"
          nzTheme="outline"
          (click)="out()"
        ></span>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
